@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans', sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 3rem 6rem;
}
.link-container {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    color: rgb(15, 15, 87);
}
.login{
    color: #6d6b6b;
}
.link-container a {
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
}
header{
    display: flex;
}
.info {
      padding: 6rem;
      flex: 1;
}
#subtitle {
    color: #6d6b6b;
    letter-spacing: 3px;
}
#subtitle span {
    background-color: rgb(17, 17, 87);
    columns: white;
    padding: 0.25rem 0.35rem;
    border-radius: 1rem;
    letter-spacing: 0;
}
h1 {
    font-size: 2rem;
    margin-top: 2rem;
}
#discription{
    color: #6d6b6b;
    margin-top: 2rem;
}
#button-container {
    display: flex;
    margin-top: 3rem;
    align-items: center;
    gap: 2rem;

}
#button-container button {
    background-color: rgb(255, 38, 0);
    border: 0;
    padding: 1rem 1.5rem;
    border-radius: 0.2rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
#button-container p {
color: #858282;
}
#img-container {
    flex: 1;
    width: 50%;
}
#bg {
    width: 50%;
    height: 50%;
    border-bottom-left-radius: 3rem;
    background-color: #c4c4c4;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    
}

